<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Ratings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col> 
        <ion-text *ngIf="!ratings || ratings.length < 1">You have no ratings!</ion-text>
        <ion-item *ngFor="let rating of ratings">
          <ion-label>
            <h1>{{rating.rating}}</h1>
            <h3>{{rating.description}}</h3>
            <p>House rated: {{rating.houseid}}</p>
          </ion-label>
          <ion-icon name="star-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
