<ion-header>
  <ion-toolbar>
    <ion-title>Update House</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <form (ngSubmit)="onUpdateHouse()" #f="ngForm">
    <ion-grid>
      
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" name="description" [ngModel]="house.description"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="name" [ngModel]="house.name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-input type="text" name="type" [ngModel]="house.type"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Street</ion-label>
            <ion-input type="text" name="street" [ngModel]="house.street"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Zip</ion-label>
            <ion-input type="number" name="zip" [ngModel]="house.zip"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" name="city" [ngModel]="house.city"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      

      

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid"
            >Add</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
